@using System.Collections
@using System.Linq
@model dynamic
@{
    ViewData["Title"] = "My Order";
}
    <script type="text/javascript">
    var orderId = '@(Model.Order != null ? Model.Order.orderId : System.Guid.NewGuid())'
    </script>
    <div id="spinner"></div>
<h1>@ViewData["Title"]</h1>

<p>Add Pizza</p>
<p>
    <select id="newPizza">
        <option value="">Select pizza</option>
        @foreach(var pizza in Model.Pizzas){


        <option value="@pizza.sku">@pizza.name - $@pizza.price</option>
    }
    </select>
</p>

<p>Add Drink</p>
<p>
    <select id="newDrink">
        <option value="">Select drink</option>
        @foreach(var drink in Model.Drinks){


        <option value="@drink.sku">@drink.name - $@drink.price</option>
    }
    </select>
</p>

<h2>Items in my order</h2>

<p>
    @if(Model.Order != null){
    <table>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        @foreach(var product in Model.Order.products){

        <tr>
            <td>@product.name (@product.category)</td>
            <td>
                <select id="@product.sku">
                    @for(int i = 1; i < 6; i++){
                    <option value="@i" selected="@(i == product.quantity.Value)">@i</option>
                    }
                </select>
            </td>
            <td><input type="button" value="Remove" /></td>
        </tr>
        }
    </table>
    }
</p>
<script src="~/lib/aspnet-signalr/signalr.min.js"></script>
<script src="~/lib/spin.js/spin.min.js"></script>
<script src="~/js/order.js"></script>