@using System.Collections
@using System.Linq
@model dynamic
@{
    ViewData["Title"] = "My Order";
}
<h1>@ViewData["Title"]</h1>

<p>Add Pizza</p>
<p>
    <select>
        <option value="">Select pizza</option>
        @foreach(var pizza in Model.Pizzas){


        <option value="@pizza.sku">@pizza.name - $@pizza.price</option>
    }
    </select>
</p>

<p>Add Drink</p>
<p>
    <select>
        <option value="">Select drink</option>
        @foreach(var drink in Model.Drinks){


        <option value="@drink.sku">@drink.name - $@drink.price</option>
    }
    </select>
</p>

<h2>Items in my order</h2>

<p>
    @if(Model.Order != null){
    <table>
        @foreach(var product in Model.Order.products){
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>@product.name (@product.category)</td>
            <td>
                <select>
                    @for(int i = 1; i < 6; i++){   
                    <option value="@i" selected="@(i == product.quantity.Value)">@i</option>
                    }
                </select>
            </td>
            <td><input type="button" value="Remove" /></td>
        </tr>
        }
    </table>
    }
</p>